.vscode
*.pyc
*~
.DS_Store
.eggs/
dist
build
.idea
cover/
.tox/
.venv
.cache/
.coverage
coverage.xml
.benchmark
src/pymetadata.egg-info/
src/pymetadata/resources/cache


wheels
__pycache__
.pytest_cache
.Rhistory
*.tsv#
*.xlsx#

# OWL ontologies
*.owl.gz
