

.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}

#refs {
  font-size: 0.55em;   /* try 0.8em–0.95em */
  text-align: justify;
}


.fixed-img {
  height: 180px;
  /*width: 100%;*/

}
